<div style="border: 1px solid #eeeeee; margin-top: 1em; margin-bottom: 1em">
	<span style="font-family: monospace; float: right"> 
	{% spaceless %} 
		{%- for fpath in split_path -%} 
			<a href="{{ svnWebConfig.base_url }}/{{ fpath }}" target="_blank">{{ fpath }}</a>/
		{% endfor %}
		{%- for fpath in split_fullpath -%} 
			<a href="{{ svnWebConfig.base_url }}/{{ path.getName }}/{{ fpath }}" target="_blank">{{ fpath }}</a>{% if not loop.last %}/{% endif %} 
		{% endfor %}
	{% endspaceless %} 
	</span> 
	{% set filename = fileInfo.getFilename %}
	<div style="margin-bottom: .5em" id="{{ fullpath | sha1 }}">
		<b>{{ filename }}</b>
		<small style="color: #888888">
			<a href="svn_url/filedata?repname={{ repoName }}&amp;path={{ fullpath }}&amp;rev={{ svnHeadInfo.getRevision }}"  target="_blank">{{ svnHeadInfo.getRevision }}</a> 
			<a href="svn_url/diff.php?repname={{ repoName }}&amp;path={{ fullpath }}&amp;rev={{ svnPrevInfo.getRevision }}" target="_blank">-&gt;</a> 
			<a href="svn_url/filedetails.php?repname={{ repoName }}&amp;path={{ fullpath }}&amp;rev={{ svnPrevInfo.getRevision }}" target="_blank">{{ svnPrevInfo.getRevision }}</a>
		</small>
	</div>
	<div style="margin: 0">
		{% spaceless %} 
		<div style="margin: 0; color: #888888; font-size: 11px">	
			{% for content in fileInfo.getHeadContent %} 
				<div>{{ content }}</div> 
			{% endfor %}
		</div>
		{% endspaceless %} 
	</div>
	{% for info in fileInfo.getInfo %} 
		{% set key = info.getMethod+1 %} 
		<div style="margin: 0; background-color: {{ svnColors[key] }}">
			{{ info.getContent }}
		</div>
	{% endfor %}    
</div>


