<html>
<body>  
	{% set bgColors = ["#efefef","#fff"] %}
	{% set i = 1 %}
	{% set addedFiles    = 0 %} 
	{% set deletedFiles  = 0 %} 
	{% set modifiedFiles = 0 %}  
	<div class="parsedContent">
		<table cellspacing="0" cellpadding="0" border="0" rules="cols">
			<tbody>
				{% for fullpath, fileInfo in parsedContent %} 
					{% set filename = fileInfo.getFilename %} 
				<tr style="border-bottom-width: 1px; border-bottom-style: solid">
					<td
						style="padding: 0; padding-top: .2em; padding-left: .3em; padding-right: .3em; text-align: left"
						colspan="4">Commit in <b>{{ path.getName }}</b></td>
				</tr>
				<tr style="background-color: {{ bgColors[i] }};">
					<td style="padding-left: .3em; padding-right: .3em; text-align: left">
						{{ fileInfo.getFilepath }}<a href="#{{ fullpath | sha1 }}">{{ filename }}</a>
					</td>
					<td align="right" style="background-color: #ccf7cc; padding-left: .3em; padding-right: .3em; text-align: left">
						+{{ fileInfo.getCountByType(constant('SPC\\Svn\\Parser::STATUS_TEXT_ADDED')) }}
					</td>
					<td align="right" style="background-color: #f7cccc; padding-left: .3em; padding-right: .3em; text-align: left">
						-{{ fileInfo.getCountByType(constant('SPC\\Svn\\Parser::STATUS_TEXT_REMOVED')) }}
					</td> 
					<td  nowrap="" style="padding-left: .3em; padding-right: .3em; text-align: left;"	align="center"> 
					 	{% if fileInfo.isAdded %} 
							Added -> <a href="svn_url">{{ svnHeadInfo.getRevision }}</a>
							{% set addedFiles = addedFiles + 1 %} 
						{% elseif fileInfo.isRemoved %} 
							<a href="svn_url">{{ svnPrevInfo.getRevision }}</a> -> Removed
							{% set deletedFiles = deletedFiles + 1 %} 
						{% else %} 
							<a href="svn_url">{{ svnPrevInfo.getRevision }}</a> <a href="svn_url">-></a> <a href="svn_url">{{ svnHeadInfo.getRevision }}</a>
							{% set modifiedFiles = modifiedFiles + 1 %} 
						{% endif %}
					</td> 
				</tr>    
				{% set i = 1 - i %} 
			{% endfor %} 
			</tbody>
		</table>  
		<small style="color:#888888">{{ addedFiles }} added + {{ deletedFiles }} removed + {{ modifiedFiles }} modified, total {{ addedFiles + deletedFiles + modifiedFiles }}</small>
		{% if todo is not null %} 
			<div style="padding: 4px; border: 1px dashed #000000; margin-top: 1em">
				<ul style="margin-top: 0; margin-bottom: 0">
					{% for fullpath,tasks in todo %} 
						{% for task in tasks %} 
							<li>{{ task }}</li>
						{% endfor %} 
					{% endfor %} 
				</ul>
			</div> 
		{% endif %}
		<pre style="padding: 4px; border: 1px dashed #000000; background-color: #ffffdd">
			{{ svnCommitMessage }} 
		</pre> 
		<hr style="border-width:0px;min-height:2px;background:black"> 
		{% set svnColors = ["#eeeeee","#ddffdd","#ffdddd"] %}
		{% set split_path = path.getName | split('/') %} 
		{% for fullpath, fileInfo in parsedContent %} 
			{% set split_fullpath = fullpath | split('/') %}
			{% include 'default/file.twig' %}
		{% endfor %} 
	</div>
</body>
</html> 