<html>
<body>
	<div id="content">
		<div>Commit in <strong>{{ svnHeadInfo['paths'][0]['path'] }}</strong></div> 
		<table>
			{% set colors = ["#eeeeee","#ffffff"] %} 
			{% set counter = 0 %} 
			{% for file in svnHeadInfo["paths"] %}
				<tr style="background: {{ colors[counter] }};"><td>{{ file['path'] }}</td><td>{{ file['action'] }}</td><td>{{ svnPrevInfo['rev'] }} >> {{ svnHeadInfo['rev'] }}</td></tr>
				{% set counter = 1 - counter %}  
			{% endfor %}  
		</table>
	</div>
	<div class="content">
		{% set contents = content | split("\n") %} 
		{% for row in contents %} 
			{% if ('+' in row) and not('+++' in row) and not('@@' in row) %} 
				<div class="row state_added">{{ row }}</div>
			{% elseif ('-' in row) and not('---' in row) and not('@@' in row) %}
				<div class="row state_removed">{{ row }}</div>
			{% elseif ' ' in row %}  
				<div class="row state_equal">{{ row }}</div>
			{% else %} 
				<div class="row">{{ row }}</div>
			{% endif %}
		{% endfor %} 
	</div>
	<div class="parsedContent">
		{% for fileInfo in parsedContent %}
			{% for row in fileInfo %} 
				<div class="row state_{{ row['method'] }}" style="background:pink;">{{ row['content'] }}</div>
			{% endfor %}  
		{% endfor %} 
	</div>
</body>
</html> 